@font-face {
  font-family: "iconfont"; /* Project id 3501863 */
  src: url('iconfont.woff2?t=1658453445005') format('woff2'),
       url('iconfont.woff?t=1658453445005') format('woff'),
       url('iconfont.ttf?t=1658453445005') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-RectangleCopy:before {
  content: "\e6a4";
}

.icon-canyin:before {
  content: "\e644";
}

.icon-jingdian:before {
  content: "\e645";
}

.icon-zhusu:before {
  content: "\e646";
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-canting:before {
  content: "\e64f";
}

.icon-daohang:before {
  content: "\e651";
}

.icon-dizhi1:before {
  content: "\e652";
}

.icon-dianping:before {
  content: "\e653";
}

.icon-feiji:before {
  content: "\e655";
}

.icon-geren:before {
  content: "\e657";
}

.icon-gongjiaoche:before {
  content: "\e658";
}

.icon-huoche:before {
  content: "\e65a";
}

.icon-qian:before {
  content: "\e662";
}

.icon-quguo:before {
  content: "\e663";
}

.icon-shoucang:before {
  content: "\e667";
}

.icon-xingcheng:before {
  content: "\e674";
}

.icon-lunchuan:before {
  content: "\e68b";
}

.icon-icon-test:before {
  content: "\e63b";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-QQ:before {
  content: "\100bf";
}

.icon-dianhua:before {
  content: "\100c0";
}

.icon-fasong:before {
  content: "\100c1";
}

.icon-kongjian:before {
  content: "\100c2";
}

.icon-dizhi:before {
  content: "\100c3";
}

