.header {
    height:32px;
    background-color:#f1f1f1;
}
.log_status {
    font-size:12px;
    line-height:32px;
}
.log_status a {
    margin-left:15px;
}
.log_status :nth-child(2) {
    color:black;
}
.log_status :nth-child(3) {
    color:#c81623;
}
.header_nav {
    line-height:32px;
}
.header_nav ul li {
    display:inline-block;
}
.header_nav ul li a {
    padding-left:15px;
    padding-right:15px;
    border-right:1px solid #666666;
    font-size:12px;
    color:#666666;
}
.header_nav ul li:last-child a {
    padding-right:0px;
    border-right:1px solid transparent;
}
.header_l {
    height:106px;
}
.header_l .logo a {
    font-size:0px;
}
.logo {
    margin-top:27px;
}
.search_box {
    height:100%;
    width:536px;
    margin-left:174px;
    margin-top:27px;
}
.search_box .search input {
    width:454px;
    height:35px;
    border:1px solid #b1191a;
    outline:none;
}
.search_box .search input::placeholder {
    padding-left:15px;
}
.search {
    position:relative;
}
.search_box .search a {
    position:absolute;
    bottom:0.2px;
    height:36px;
    width:82px;
    background-color:#b1191a;
    color:white;
    font-size:16px;
    text-align:center;
    line-height:36px;
}
.ke_link ul li {
    display:inline-block;
    margin:5px 13px;
}
.ke_link ul li a {
    font-size:12px;
    color:#666666;
}
.ke_link ul li:first-child a {
    color:#c81623;
}
.shopping_car {
    position:relative;
    width:139px;
    height:36px;
    background-color:#f7f7f7;
    text-align:center;
    margin-left:113px;
    margin-top:27px;
}
.shopping_car a {
    display:block;
    height:100%;
    width:100%;
}
.shopping_car span {
    font-size:12px;
    line-height:36px;
    color:#666666;

}
.img_1 {
    position:absolute;
    top:13px;
    right:20px;
 }
 .shopping_car a .n {
    position:absolute;
    left:100px;
    top:-5px;
    height:15px;
    min-width:15px;
    background-color:#b1191a;
    border-radius:8px 8px 8px 0;
    font-size:5px;
    color:white;
    z-index:1;
 }
.iconfont.icon-icon-test {
    position:absolute;
    font-size:22px;
    left:18px;
    color:red;
}
.nav {
    height:45px;
    border-bottom:1px solid #b1191a;
    margin-top:24px;

}
.nav .nav_center {
    position:relative;
    height:100%;
}
.nav .nav_center .all {
    position:absolute;
    height:45px;
    width:209px;
    background-color:#b1191a;
    color:white;
    font-size:16px;
    line-height:45px;
}
.nav .nav_center .all .a {
    padding-left:52px;
    padding-top:15px;
}
.nav .nav_center .all .drop {
    display:block;
    width:209px;
    height:467px;
    background-color:#c81623;
}
.nav .nav_center .all ul li a span {
    position:absolute;
    right:12px;
}
.nav .nav_center .all ul li a:hover {
    background-color:white;
    color:#c81623;
}
.nav .nav_center .all ul li {
    position:relative;
}
.nav .nav_center .all ul  li a{
    display:block;
    font-size:14px;
    color:white;
    padding-left:10px;
    padding-top:2px;
    height:31.133333px;
    line-height:30px;

}
.nav .nav_center .nav_r ul li {
    float:left;
}
.nav .nav_center .nav_r {
    position:absolute;
    left:209px;
    bottom:14px;
    margin-left:41px;
}
.nav .nav_center .nav_r ul li {
    margin-right:53px;
}
.nav .nav_center .nav_r ul li a{
    color:#7d7d7d;
}
.nav .nav_center .nav_r ul li a:hover {
    color:#b1191a;
}
.lb {
    margin-top:11px;
}
.lb_c {
    margin-left:219px;
}
.lb .lb_c img {
    width:720px;
    height:455px;
}
.box_data {
    float:right;
    width:252px;
    height:453px;
    background-color:#ffffff;
    border:1px solid #e4e4e4;
}
.t {
    width:100%;
    height:38px;
    font-size:14px;
    color:#7d7d7d;
    background-color:#ffffff;
    border-bottom:1px dotted grey;

}
.t :nth-child(1) {
    margin-left:15px;
    line-height:38px;
}
.t span:last-child {
    float:right;
    margin-right:10px;

}
.data_content {
    padding-top:5px;

    width:100%;
    height:132px;
    border-bottom:1px solid #e4e4e4;
}
.c_mess {
    padding-left:13px;
    padding-bottom:4px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.c_mess a {
    color:#7d7d7d;
}
.c_mess a:hover {
    color:#c81623;
}
.c_mess h4 {
    display:inline-block;
    font-size:14px;
}
.c_mess span {
    font-size:14px;
}
.c_card {
    width:100%;
    height:216px;
}
.card {
    position:relative;
    float:left;
    height:72px;
    width:62.5px;
    border-right:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
}
.card a {
    display:block;
    height:100%;
    text-align:center;
}
.c_card .card:nth-child(4n) {
    border-right:0px;
}
.card a span:first-child {
    position:absolute;
    left:21.25px;
    top:13px;
    color:#c81623;
    font-size:20px;
}
.card a span:last-child {
    line-height:90px;
    color:#7d7d7d;
    font-size:14px;
}
.c_card .card:hover {
    background-color:#e4e4e4;
}
.box_data img.img_i {
    height:67px;
    width:252px;
}
.nav_left  {
  position:fixed;
  left:3%;
  top:370px;
  width:65px;
  height:342px;
  z-index:100;
  }
.nav_left ul li {
    width:66px;
    height:32px;
    padding:0 8px;
    text-align:center;
    line-height:32px;
    border-bottom:1px solid #ededed;
   }
.nav_left ul li:hover {
    background-color:#c81623;
   }
.nav_left ul li:hover a {
    color:white;
}
.nav_left ul li a {
    display:block;
    color:#666666;
    font-size:12px;
 }
 .fav_title {
    position:relative;
    padding-top:10px;
    padding-bottom:8px;
    width:100%;
 }
 .fav_title .left_fav {
    font-size:18px;
 }
  .fav_title .right_fav {
    position:absolute;
    right:5px;
    font-size:8px;
  }
  .fav_card {
    height:232px;
    width:100%;
    overflow:hideen;
    border:1px solid #ededed;
  }
.fav_card .card_data {
    width:199px;
    height:100%;
}
.fav_card .card_data a {
    color:#666666;
}
.card_img img {
    width:100%;
    height:149px;
}
.card_des {
    width:100%;
    padding:5px 35px;
    border-right:1px solid #ededed;
    }
.card_des span {
    font-size:12px;
}
.card_price span {
    font-size:18px;
    color:#df3033;
}
.fav_card .card_data:last-child .card_des {
    border-right:0px;
}
.fun_title {
    padding-top:15px;
    padding-bottom:10px;
}
.fun_area .fun_data {
    height:406px;
    width:100%;
}
.fun_data {
        border:1px solid #ededed;
        overflow:hidden;
}
.fun_leftimg {
    position:relative;
    height:406px;
    width:403px;
    background-color:#b8bddd;
}
.fun_leftimg img {
    position:absolute;
    right:56px;
    bottom:30px;
}
.fun_leftimg .fun_des {
    position:absolute;
    left:20px;
    top:25px;
}
.fun_des span {
    display:block;
}
.fun_des span:first-child {
    color:#525b99;
}
.fun_des span:last-child {
    color:#525b99;
    font-size:16px;
}
.fun_recom {
    position:relative;
    width:227px;
    height:100%;
    background-color:#ffffff;
    border-right:1px solid #b8bddd;
}
.fun_good {
    position:relative;
    height:248px;
    width:100%;
    border-bottom:1px solid #b8bddd;
    }

.fun_good span {
    position:absolute;
    left:91px;
    top:15px;
    font-weight:700;
    font-size:14px;
}
.fun_dotted {

    position:absolute;
    border-top:1px dotted #b8bddd;
    top:40px;
    width:190px;
    left:18.5px;
}
.fun_recom img {
    position:absolute;
    right:0px;
    bottom:15px;
}
.fun_des {
    position:absolute;
    left:8px;
    top:100px;
}
.fun_des span {
    display:block;
}
.fun_des span:nth-child(1) {
    font-size:16px;
    color:black;
}
.fun_des span:nth-child(2) {
    font-size:12px;
}
.fun_des span:nth-child(3) {
    font-size:12px;
    color:red;
}

.fun_fin img {
    position:absolute;
    right:0px;
    bottom:0px;
}
.fun_fin .fun_des {
    top:295px;
}
.grand_street {
    position:relative;
    height:100%;
    width:408px;
    background-color:#f7f7f7;
    border-right:1px solid #b8bddd;
}
.grand_title {
    margin:0px 25px;
    padding-top:15px;
    padding-left:180px;
    padding-bottom:5px;
    border-bottom:1px dotted #b8bddd;
}
.grand_title span {
    font-weight:700;
    font-size:14px;
}
.grand_1 {
    height:206px;
    width:100%;
    border-bottom:1px solid #b8bddd;
}
.grand_1 img {
    position:absolute;
    right:0px;
    top:70px;
}
.grand_1 .fun_des {
    left:52px;
}
.grand_2 {
    position:relative;
    height:156.2px;
    width:100%;
}
.grand_1_left {
    position:relative;
    width:204px;
    height:100%;
    border-right:1px solid #b8bddd;
}
.grand_1_left .fun_des {
    top:40px;
}
.grand_1_img img {
    position:absolute;
    right:0px;
    bottom:0px;
}
.grand_2_right {
    position:relative;
    width:203px;
    height:100%;
}
.grand_2_right .fun_des {
    top:40px;
}

.grand_show ul:first-child {
    width:77px;
}
.grand_show ul:first-child li {
       height:58.142px;
       width:100%;
       margin-left:5px;
       text-align:center;
       line-height:70.142px;
       border-right:1px dotted #b8bddd;
       border-bottom:1px dotted #b8bddd;
}
.grand_show ul:first-child li:last-child {
    border-bottom:0px;
}
.grand_show ul:last-child li {
       height:58.142px;
       width:100%;
       margin-left:5px;
       padding-left:3px;
       text-align:center;
       line-height:70.142px;
       border-bottom:1px dotted #b8bddd;
}
.grand_show ul:last-child li:last-child {
    border-bottom:0px;
}